# macOS
.DS_Store

# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv / uv
.python-version

# dotenv
.env

# Virtual environments
.venv/
venv/
ENV/

# Data files
*.npy
*.pkl
